@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat-500-latin.woff2) format('woff2');
}
@font-face {
  font-family: 'montserrat';
  font-weight: 600;
  src: url(../fonts/montserrat-600-latin.woff2) format('woff2');
}