@import "bootstrap/scss/bootstrap";
@import "assets/scss/variables";
@import "assets/scss/fonts";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Poppins:wght@100;200;300&display=swap');
@import "assets/scss/normalize";
@import "assets/scss/typography";
@import "assets/scss/chevron";
@import "assets/scss/style";
@import "../node_modules/react-multi-carousel/lib/styles.css";

// navbar link
.navbar {
  padding: 0;

  &-expand-sm > .navbar-collapse > .navbar-nav {
    width: 100%;

    & > .nav-item {
      flex: 1 1 100%;
      text-align: center;
    }

    & .dropdown > .dropdown-toggle {
      &::after {
        @include chevron-bottom;
        width: 6px;
        height: 6px;
        margin: -3px 0 0 5px;
        vertical-align: middle;
      }
    }
    
    & > .dropdown > .dropdown-menu.mega-menu {
      width: 710px;
      border-top: none;
      border-radius: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 0;
      z-index: 9999;
      display: none;
      overflow: hidden;

      & > .container > div{
        & > h2 {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          margin: 0;
        }

        & > .allbrands {
          font-size: 13px;
          text-decoration: underline;
          color: $black;
          position: relative;
        }

        & > .allbrands::after {
          content: "";
          @include chevron-right;
        }

        .top-brand-item {
          display: flex;
          width: 121px;
          height: 80px;
          padding: 5px 0;
          margin: 5px;
          border-radius: 6px;
          border: 1px solid #dedede;

          & > img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
    .dropdown.right > .dropdown-menu.mega-menu {
      left: auto;
      right: 0;
    }
    .dropdown:hover > .dropdown-menu.mega-menu {
      display: block;
    }

    & .nav-link {
      padding: 1rem !important;
    }
    
  }
}

